<!DOCTYPE html>
<html>
<head>
    <title>Alunos</title>
</head>
<body>
    <h1>Bem-vindo à página do Aluno!</h1>
    <p>Esta é a página do Aluno:</p>
    <button onclick="window.location.href = '/Home/Index'">Voltar ao Início</button>
    <button onclick="window.location.href = '/Curso/Index'">Cadastro de Cursos</button>
</body>
</html>