@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>
        <a href="@Url.Action("Index", "Aluno")" class="btn btn-primary">Página do Aluno</a>
        <a href="@Url.Action("Index", "Curso")" class="btn btn-secondary">Cadastro de Curso</a>
    </p>
</div>